html,body{
	background-color: #393e47;
	font-family: Raleway;
	background-attachment: fixed !important;
 	background-position: center !important;
 	background-repeat: no-repeat !important;
 	background-size: cover !important;
	scroll-behavior: smooth;
	background: url(../img/bgppic2.jpg);
}

.blinking{
    animation:blinkingText 1.8s infinite;
}
@keyframes blinkingText{
    0%{  color: #f06; }
    50%{color: #f90; 	}
    75%{	color: #5f2; 	}
    100%{color: #f00;}
   
}

#logo{
	width: 90%;
	
	margin-bottom: 0px;
	-webkit-animation: rotation 2s infinite linear;
}

#logot{
	width: 90%;
	margin-top: 0px;
}

p{
	text-align: center;
	margin: 0px;
}

button{
	padding: 8px !important;
	border: none;
	opacity: 0.9;
	background-color:  rgba(64, 191, 64, 0.5);
	color: black !important; 
	margin: 3px;
}

#mbg{
	background-color: rgba(254,254,254,0.3);
	border: groove 2px white;
	border-left: 3px !important;
	border-right: 3px !important;
	font-family: Raleway;
	z-index: 1000;
}

#mbgr{ 
	background-color: rgba(234,234,234,0.7);
	border: groove 2px white;
	border-left: 3px !important;
	border-right: 3px !important;
	font-family: Raleway;
	width: 100% !important;
}

#dist{
	margin: 0px;
}

#logo2{
	width: 70%;
	margin: 0px;
}

.bag{
	background-color: rgba(255,255,255,0.8);
}

.bg{
	background-color: rgba(0,0,0,0.95);
	color: white;
}

#bg2{
	background-color: rgba(64, 191, 64, 0.6);
	font-family: Raleway;
}

a{
	text-decoration: none ;
}

a:hover{
	text-decoration-color: none;
	text-decoration-line: none;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
    list-style-type: square;
}

#fontaa{
	font-size: 18px;
}

#vertical{
	writing-mode: vertical-rl;
text-orientation: mixed;
}

#heading{
	border: 2px groove #3e3e3e;
	padding: 3px;
}

#headi{
	border: 2px groove #aaaaaa;
	padding: 3px;
}

#fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    border-radius: 50%;
    z-index: 1000;
    display: inline-block;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
}

#header{
	font-size: 20px;
}

#fixedbutton:hover {
  cursor: pointer;
  background-color: #333;
}

#fixedbutton:active {
  background-color: #555;
}

#sp1{
	margin: 0px;
	width: 100%;
}

#sp2{
	margin: 0px;
	width: 60%;
}

#sp4{
	margin: 0px;
	width: 60%;
}

#sp3{
	margin: 0px;
	width:70%;
}

.bgg{
	background-color: rgba(0,0,0,0.3);
}

header{
	border: 0px groove #232323;
	padding: 3px;
}

h3{
	margin: 10px;
	margin-bottom: 0px !important;
}

h1{
	font-size: 28px !important;
}

h2{
	font-size: 24px;
}

@-webkit-keyframes rotation{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform:rotate(359deg);
	}
}